USE [master]
GO
/****** Object:  Database [ProductDatabase]    Script Date: 05-01-2021 21:51:23 ******/
CREATE DATABASE [ProductDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductDatabase', FILENAME = N'C:\Users\Lalit Ak Radadiya\ProductDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductDatabase_log', FILENAME = N'C:\Users\Lalit Ak Radadiya\ProductDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductDatabase]
GO
USE [ProductDatabase]
GO
/****** Object:  Table [dbo].[ProductListData]    Script Date: 05-01-2021 21:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductListData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Category] [nchar](10) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[Short Description] [nchar](10) NULL,
	[Long Description] [nchar](10) NULL,
	[Small image] [nvarchar](max) NULL,
	[Large image] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductListData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 05-01-2021 21:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](10) NULL,
	[password] [nchar](10) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
